[user]
	name = Marin Marinov
	username = marinov98
	email = wbbmarin5@gmail.com

[core]	
	editor = vim
	excludesfile = ~/.gitignore	

[color]
	ui = auto

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[alias]
	ds = diff --staged
	pb = pull --rebase

[pull]
	ff = only
