[user]
	name = Marin Marinov
	username = marinov98
	email = wbbmarin5@gmail.com

[core]	
	editor = vim
	excludesfile = ~/.gitignore	

[color]
	ui = auto

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[alias]
	co = checkout
	br = branch
	c = commit
  ds = diff --staged
	cl = clone
	st = status
	m = merge
	#############
	pl = pull
	pb = pull --rebase
	#############
	ps = push
	psf = push -f
	psu = push -u
	pst = push --tags
[pull]
	ff = only
